[submodule "modules/pyblish"]
	path = modules/pyblish
	url = https://github.com/pyblish/pyblish.git
[submodule "modules/pyblish-qml"]
	path = modules/pyblish-qml
	url = https://github.com/pyblish/pyblish-qml.git
[submodule "modules/pyblish-maya"]
	path = modules/pyblish-maya
	url = https://github.com/pyblish/pyblish-maya.git
[submodule "modules/pyblish-nuke"]
	path = modules/pyblish-nuke
	url = https://github.com/pyblish/pyblish-nuke.git
[submodule "modules/pyblish-houdini"]
	path = modules/pyblish-houdini
	url = https://github.com/pyblish/pyblish-houdini.git
[submodule "modules/pyblish-rpc"]
	path = modules/pyblish-rpc
	url = https://github.com/pyblish/pyblish-rpc.git
[submodule "modules/pyblish-integration"]
	path = modules/pyblish-integration
	url = https://github.com/pyblish/pyblish-integration.git
[submodule "modules/pyblish-standalone"]
	path = modules/pyblish-standalone
	url = https://github.com/pyblish/pyblish-standalone.git
