[submodule "modules/pyblish"]
	path = modules/pyblish
	url = https://github.com/pyblish/pyblish.git
[submodule "modules/pyblish-qml"]
	path = modules/pyblish-qml
	url = https://github.com/pyblish/pyblish-qml.git
[submodule "modules/pyblish-maya"]
	path = modules/pyblish-maya
	url = https://github.com/pyblish/pyblish-maya.git
[submodule "modules/pyblish-nuke"]
	path = modules/pyblish-nuke
	url = https://github.com/pyblish/pyblish-nuke.git
