pyblish-base==1.4.1
# pyblish-hiero==1.0.0  # Awaiting upload to PyPI
# pyblish-houdini==0.2.2
pyblish-maya==2.0.0
# pyblish-nuke==1.1.2
pyblish-modo==0.0.2
pyblish-lite==0.3.3
pyblish-qml==0.7.0
# pyblish-standalone==0.1.0